body{
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.25px;
    word-spacing: 0px;
    
 }
 
/* nav */
nav {
    width: 100vw;
    height:90px;
    background-color: white;
    position: fixed;
    top:0;
}
.flexboxnav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navsvg{
    width:121px;
    height:70px;
    object-fit: cover;
}

.menubox{
    margin-left: 400px;
    line-height: 30px;
}
.menu>li{
    list-style-type: none;
    display:inline-block;
    margin: 16px 10px 0;
}

.menu>li:hover{
    color: rgb(0, 98, 255);
    border: 1px dashed red;
}

/* picture */
.picture{
    text-align: center;
}

/* news */
.newssection{
    height: 600px;
    margin-top:2rem;
    
    
}
.news{
    display: flex;
    justify-content: center;
    margin-top:2rem;
    margin-bottom:2rem;
}

.newsbox>h2{
    font-size:22.5px;
    font-weight: 500;
    line-height: 33.75px;
    letter-spacing: -0.5px;
}
.newsbox>h4{
    font-size:30px;
    font-weight: 500;
    line-height: 41.25px;
}

.line1{
    width: 48.3125px;height: 4px;border-top:3px solid #3a3991 ;
}
.line2{
    width: 96.9458px;
    height: 4px;
    border-top:3px solid #E4007F;
}
.line3{
    width: 32.2188px;
    height: 4px;
    border-top:3px solid #0E1Be2;

}
.datebox{
    margin:0 0 0 100px;
    font-weight: 500;
    
}

.datebox1{
    display: flex;
    margin:0 0 15px 0;
    
}
.datebox2{
    display: flex;
    margin:0 0 15px 0;   
}
.datebox3{
    display: flex;
    margin:0 0 15px 0;
}

.date{
    margin-right: 10px;  
}
 


.description2{
    
    width: 900px;
    height: 153.812px;   
    /* margin: 110px 0 0 880px; */
    margin: 0 auto;
    text-align: left;

}
.description2 p{
    font-size: 25px;
    line-height: 40.625px;
    margin-bottom: 20px ;
}
.description2 h3{
    font-size: 28px;
    font-weight: 600;
    line-height: 40.625px;
    letter-spacing: -0.5px;
    
}

/* 佔整個的圖片 */
.picture2{
    width:100vw;
    height: 591px;
    background-image: url(images/085580.png);
    background-position: center;
    background-repeat:no-repeat;
    
   
}

/* data table */ 

.maindatabox{
    margin-top: 100px;
    margin-bottom: 40px;
    
}
.titledata{
   height: 150px;
   margin-bottom: -10px;
}
.titledata>span{
    color: white;
    background-color:#E4007F;
    font-weight: 700;
    font-size: 37.5px;
    letter-spacing: 5px;
    margin-left: 35px;
    
    
}
.databox{
    margin: 0 auto ;
    width: 1100px;
    height: 510px;
       
}

.data1{
    width: 293px;
    height: 160px;
    font-size: 25px;
    font-weight: 500;
    padding-top: 20px;
    border-top: 1px solid black;
    float: left;
    margin: 0 35px 20px;

}
.data1>span{
    padding: 40px 40px 40px 0;
}
.data1>h2{
    font-size: 80px;
    padding: 40px 40px 40px 0;
    font-weight: 900;  
}
.data2{
    width: 293px;
    height: 160px;
    font-size: 25px;
    font-weight: 500;
    padding-top: 20px;
    border-top: 1px solid black;
    float: left;
    margin: 0 35px ;
}
.data2>span{
    padding: 40px 40px 40px 0;
}
.data2>h2{
    font-size: 80px;
    padding: 40px 40px 40px 0;
    font-weight: 900;
    
}

/* video */
.video{
    text-align: center;
    
}

/*guest */
 .guestsection{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding:85px 16px 96px 85px;
 }
.guesttitle>h2{
    font-size:22.5px;
    font-weight: 500;
    line-height: 33.75px;
    letter-spacing: -0.5px;
}
.guesttitle>h4{
    font-size:30px;
    font-weight: 500;
    line-height: 41.25px;
}

   


.guesttitle{
    width:292px;
    height: 1396px;
}

.guestmainboard{
    width: 876px;
    height: 1545.25px;
}

.guestboard{
    
    width: 203px;
    height: 375px;
    float: left;
    padding: 10px;
    position: relative;
    margin-bottom: 2px;
    
    
}

.fa-magnifying-glass{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #E4007F;
}
.guest{
    width: 197.5px;
    height: 197.5px;
    object-fit: cover;
 
}
.guest1{
    font-size: 25px;
    font-weight: 500;
    line-height: 37.5px;
    padding: 0 0 10px 0;
}

.guest2{
    font-size: 17.5px;
    line-height: 26.25px;
    color: #687280
    
}
 /* time map
 .timemap{
    display: flex;
    justify-content: center;
    width: 1200px;

 } */

.timemap{
    display: flex;
    justify-content: center;
    width: 1200px;
    height: 533.333px;
    margin: 0 auto;  
    
}
.timemain{ 
    margin-top: 45px;
    margin-right: 149px;
      
}

.time1 h2{
    font-size: 16px;
    margin: 0;
}
.time2{
    margin: 12px 0;
    padding: 16px;
}
.time2 h2{
    margin:0;
    
}
.time3{
    width:400px;
    padding: 0 0 0 16px;
    border-left:4px solid #E4007F ;
    line-height: 16px;
}

.map{
    width: 640px;
    height: 533.328px; 
    
}


/* footerblock */

footer{
    color: #9CA3AF;
    background-color: #1F2937;
    padding: 2rem 0;
    font-size: 20px;
    letter-spacing: 1.25px;
    line-height: 30px;
    
}
.footertitle{
    width:1160px;
    height:30px;
    margin: 0  auto;

}

.footerblock{
    display: flex;
    justify-content: center;
}
 .footerblock1{
    width:176.667px;
    height: 363.193px;
    display: inline-block;
}

.footerblock1 ul{
    padding: 0;
    margin: 0;
    font-size: 17.5px;
}

.footerblock1 li{
    padding: 8px 0px;
    border-bottom: 1px dashed #9CA3AF; 
    font-size: 20px;
    list-style-type: none;
}

.footerblock2{
  width:275px;
  height: 363.917px;
  display: inline-block;
}
.footerblock2 ul{
    padding: 0;
    margin: 0;
    line-height: 26.25px;
    
}
.footerblock2 ul p{
    margin: 0;
    
}

.footerblock2 ul li{
 list-style-type: none;
 padding: 10px 0;
 border-bottom: 1px dashed #9CA3AF;
 

}
.footerblock2 ul a{
    font-size: 17.5px;
    color: #9CA3AF;
    text-decoration: none; 
    line-height: 26.25px;

}

.footerblock1 {
    margin:10px 15px 0;
}
.footerblock2 {
    margin:10px 3px 0;
}
.footerblock3 {
    margin:10px 3px 0;
}

.footerblock3{
width:275px;
height: 363.193px;
display: inline-block;
}
.p1{
    font-size: 22.5px;
    line-height: 33.75px;
    margin: 0;
}
.p2{
    font-size: 17.5px;
    line-height: 26.25px;
    margin: 0;
}

.svgs{
    padding: 20px 0;
    width: 300px;
    height: 150px;
    margin-left: -13px;
    
}
.svg{
  float: left;
  width: 60px;
  height: 30px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.down{
    width: 1160px;
    height: 46.25px;
    font-size: 17.5px;
    margin: 0 auto;
    text-align: left;
}